.header {
  background: var(--primary-2-g);
  min-width: 48rem;
  border-block-end: 1px solid var(--black);
}

.headerContainer {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: var(--space-2);
  width: 8rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  padding-block: var(--space-7);
}

.userInfoContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--space-6);
}

.headerBookMarkIcon,
.headerCreateIcon {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: var(--space-2);
  background: var(--dark-gray-g);
  border-radius: var(--rounded-full);
  border: 1px solid var(--black);
  height: var(--space-10);
  width: var(--space-10);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    background: var(--clicked-dark-gray-g);
  }
}

.headerProfile {
  box-sizing: border-box;
  width: var(--space-10);
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 1px solid var(--black);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
