.listPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-10);
}

.title {
  font-size: var(--xxxl);
  text-align: center;
  margin-bottom: var(--space-10);
}
