@import '../../styles/Main.css';

.button {
  background: var(--dark-gray-g);
  border-radius: var(--radius-xl);
  border: 0.125rem solid var(--black);
  width: 20rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {
  background: var(--clicked-dark-gray-g);
  box-shadow: 4px 4px 8px 0px #adadad inset;
}
