.mainBanner {
  display: block;
  width: 100%;
  margin-block-end: var(--space-8);
  margin-inline: auto;
}

.line {
  margin-block-end: var(--space-4);
  width: 82rem;
  border-top: 2px solid #adadad;
}
