.CardSwiperContainer {
  width: 1308px;
  height: 473px;
  background: var(--white);
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space-11);
  gap: var(--space-1);
}

.header h2 {
  font-family: var(--pretendard);
  font-size: var(--xxxl);
  font-weight: var(--large);
  color: var(--black);
}

.btnMoreHeader {
  margin-left: var(--space-3);
  width: 72px;
  height: 35px;
  border: 1px solid var(--black);
  border-radius: var(--radius-xl) 0px var(--radius-xl) var(--radius-xl);
  background: var(--gray-g);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--medium);
  font-weight: var(--regular);
  cursor: pointer;
}

.btnMoreHeader:hover {
  background: var(--white);
}

.swiperContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.swiper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: var(--space-6);
}

.btnNext {
  flex: none;
  box-sizing: border-box;
  background: var(--gray-g);
  border: 1.5px solid var(--black);
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.btnNext:hover {
  background: var(--white);
}

.btnNext img {
  width: 15px;
  height: 15px;
}
