.cardSwiperContainer {
  max-width: 81.75rem;
  min-width: 50rem;
  height: 29.5625rem;
  background: var(--white);
  position: relative;
  margin-inline: auto;
  z-index: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space-11);
  gap: var(--space-1);
}

.header h2 {
  font-family: var(--pretendard);
  font-size: var(--xxl);
  color: var(--black);
}

.btnMoreHeader {
  margin-left: var(--space-3);
  width: 4.5rem;
  padding-block: 0.5rem;
  border: 0.0625rem solid var(--black);
  border-radius: var(--radius-xl) 0px var(--radius-xl) var(--radius-xl);
  background: var(--gray-g);
  font-size: var(--medium);
  font-weight: var(--regular);
  text-align: center;
  cursor: pointer;
}

.btnMoreHeader:hover {
  background: var(--white);
}

.swiperContainer {
  width: 81.75rem;
}

.btnMoreCard {
  display: flex;
  width: 40rem;
  height: 10.5rem;
  background: var(--gray-g);
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 16px;
  align-items: center;
  cursor: pointer;

  &:active {
    background: var(--clicked-gray-g);
  }
}

.MoreCardMessage {
  width: 100%;
  display: block;
  font-size: var(--xl);
}

.btnNext,
.btnPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  box-sizing: border-box;
  background: var(--gray-g);
  border: 0.09375rem solid var(--black);
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.btnNext {
  right: 0;
}

.btnPrev {
  left: 0;
}

.btnNext:hover,
.btnPrev:hover {
  background: var(--white);
}

.btnNext img,
.btnPrev img {
  width: 0.9375rem;
  height: 0.9375rem;
}
