.textAreaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5.75rem;
  align-items: center;
  box-shadow: 8px 8px 4px 0px var(--line-gray) inset;
  padding: var(--space-5);
  border: 1.5px solid var(--black);
  font-size: var(--large-2);
  font-weight: var(--semi-bold);
  margin-top: var(--space-2);
  margin-bottom: var(--space-3);
  resize: none;
}

.textArea::placeholder {
  text-align: start;
  font-weight: var(--regular);
  font-family: var(--pretendard);
}

.charCount {
  position: absolute;
  right: 1.5rem;
  bottom: 2.2rem;
  font-size: var(--large-2);
  font-family: var(--pretendard);
  color: #898989;
  background-color: var(--white-color, #ffffff);
  padding: 2px 4px;
  border-radius: 4px;
  z-index: 10;
}
