.radioQuestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.radioHidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.radioIconLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioIcon {
  background: var(--dark-gray-g);
  display: inline-flex;
  border-radius: var(--rounded-full);
  padding: var(--space-2);
  border: 2px solid var(--black);
}
.radioIconCheck {
  background: var(--tertiary-g);
  display: inline-flex;
  border-radius: var(--rounded-full);
  padding: var(--space-2);
  border: 2px solid var(--black);
}
