.radioLabel {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: var(--Black, #000);

  font-size: var(--large, 1.25rem);
  font-style: normal;
  font-weight: var(--regular, 400);
  line-height: 150%;
}

.radioQuestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
