.diaryContainer {
  display: flex;
  flex-flow: row;
  gap: var(--space-4);
  width: 85rem;
  min-height: fit-content;
  margin-inline: auto;
  margin-top: var(--space-15);
  margin-bottom: var(--space-15);
}

.leftDiary {
  background: var(--primary-2-g);
  flex: 1;
  border: 1px solid var(--black);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-4);
  min-width: 22rem;
  max-width: 22rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin-bottom: var(--space-5);
}

.rightDiary {
  background: var(--primary-2-g);
  flex: 2;
  border: 1px solid var(--black);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--space-10) var(--space-15) var(--space-10);
}

.springContainer {
  display: flex;
  position: absolute;
  flex-flow: column;
  left: 36.5%;
  top: 10%;
  gap: 25rem;

  .topSpringContainer {
    display: flex;
    flex-flow: column;
    gap: 3rem;

    & div {
      height: var(--space-4);
      width: var(--space-10);
      background: var(--dark-gray-g);
      border-radius: var(--rounded-full);
    }
  }

  .bottomSpringContainer {
    display: flex;
    flex-flow: column;
    gap: 3rem;

    & div {
      height: var(--space-4);
      width: var(--space-10);
      background: var(--dark-gray-g);
      border-radius: var(--rounded-full);
    }
  }
}

.level,
.nickname {
  font-size: var(--large-2);
  text-align: center;
  margin-block: var(--space-4);
  margin-top: var(--space-5);
}

.diaryProfile {
  display: block;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 2px solid var(--black);
  margin-inline: auto;
  margin-block-end: var(--space-24);
}

.btnNavigate {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  align-items: center;
  margin-block-end: var(--space-8);
}

.customButton {
  font-size: var(--large-2);
  border-radius: var(--radius-xl);
  border: 0.125rem solid var(--black);
  width: 18rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageName {
  font-size: var(--xxl);
  text-align: center;
  margin: var(--space-15) 0;
}
