:root {
  --comment-box-width: 41.0625rem;
  --textarea-height: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: var(--comment-box-width);
  padding: var(--space-5);
  border: 2px solid var(--black);
  border-radius: var(--radius-medium);
  background: var(--secondary-g);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: var(--space-3);
  padding-bottom: var(--space-5);
  font-family: var(--pretendard);

  .likeButton {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    margin-right: var(--space-7);
    font-size: var(--large);
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-4);

  .textarea {
    display: block;
    width: 90%;
    height: var(--textarea-height);
    padding: var(--space-4);
    border: 1px solid var(--black);
    background: var(--white);
    font-size: var(--medium);
  }

  .submitButton {
    margin-top: var(--space-2);
  }
}
