.questionCreateContainer {
  width: 84rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-10);
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--xxxl);
  text-align: center;
  margin-bottom: var(--space-10);
}

.label {
  font-size: var(--large-2);
  font-weight: var(--semi-bold);
  line-height: var(--xxxl);
  color: var(--black);
}

.questionContainer {
  position: relative;
  width: 100%;
  margin: var(--space-15) 0 var(--space-8) 0;
  height: 50rem;
  background: var(--primary-2-g);
  border: 0.125rem solid var(--black);
  border-radius: var(--radius-large);
  padding: var(--space-5);
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.deleteButton {
  display: flex;
  justify-content: flex-end;
}

.questionAnswer {
  display: flex;
  gap: var(--space-5);
  width: 100%;
}

.question,
.answer {
  flex: 1 1 50%;
  min-width: 0;
}

.answerDescription {
  width: 100%;
}

.btnContainer {
  width: 100%;
  display: flex;
  gap: var(--space-5);
  margin-top: var(--space-10);
  justify-content: flex-end;
}
