.calenderContainer {
  width: 37rem;
  height: 61.8125rem;
  background: url(/images/calender_background.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

:global(.react-calendar) {
  width: 100%;
  max-width: 33rem;
  background: #fddb92;
  border: none;
  font-family: 'NeoDunggeunmoPro';
}

:global(.react-calendar__tile) {
  position: relative;
  padding: 1rem;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 50px;
  width: 50px;
  background: url(/images/calender_stamp.svg);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.tileContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.react-calendar__navigation) {
  font-size: 3rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  color: var(--white);
}

.calenderContainer :global(.react-calendar__navigation__label) {
  max-width: 18.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: var(--semi-bold);
  flex-grow: 0;
}

:global(.react-calendar__navigation__prev-button),
:global(.react-calendar__navigation__next-button) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.react-calendar__tile) {
  padding: var(--space-3);
  font-size: 0.875rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
  background: none;
}

:global(.react-calendar__month-view__weekdays__weekday) {
  font-weight: var(--regular);
  font-size: 1.25rem;
  background: var(--dark-gray-g);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.react-calendar__month-view__weekdays__weekday) abbr {
  text-decoration: none;
}

:global(.react-calendar__month-view__days) {
  font-weight: var(--regular);
  background: var(--secondary-g);
  height: 41.25rem;
}

.calenderContainer :global(.react-calendar__tile:hover),
.calenderContainer :global(.react-calendar__tile:active),
.calenderContainer :global(.react-calendar__tile--active) {
  background-color: var(--white);
  color: red;
}

:global(.react-calendar__tile--active:enabled:hover),
:global(.react-calendar__tile--active:enabled:focus) {
  background: var(--white);
  color: red;
}

.calenderContainer :global(.react-calendar .react-calendar__navigation__label) {
  background: none;
}
