.problemCardContainer {
  display: flex;
  gap: var(--space-8);
  width: 25vw;
  background: var(--primary-g);
  padding-block: var(--space-8);
  padding-inline-start: var(--space-8);
  border: 2px solid var(--black);
  border-radius: 16px;
  min-width: 25rem;
}

.profileImg {
  aspect-ratio: 1/1;
  width: 100px;
  box-shadow: 4px 4px 0 0 var(--black);
}

.problemInfoContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-size: var(--large-2);
}
