.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop.close {
  display: none;
}

.modal {
  width: 50rem;
  height: 31.25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 40%;
  top: 50%;
  transform: translate(-70%, -50%);
  filter: drop-shadow(0px var(--space-5) var(--space-13) var(--line-gray));
  background: var(--gray-g);
  border: 0.1875rem solid var(--black);
  border-radius: var(--radius-3xl);
}

.modal.close {
  display: none;
}

.header {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--primary-2-g);
  border-bottom: 0.1875rem solid var(--black);
  border-radius: var(--radius-3xl) var(--radius-3xl) 0 0;
}

.alert {
  font-size: var(--xl);
  color: var(--black);
  font-weight: var(--regular);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--space-8);
  margin-bottom: var(--space-12);
}

.icon {
  margin-top: var(--space-19);
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: var(--space-5);
}

.text {
  font-size: var(--xxl);
  font-weight: var(--regular);
  color: var(--black);
}
