.optionContainer {
  width: 100%;
  margin-block-start: var(--space-20);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-12);
}

.solveCorrect,
.solveInCorrect {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-block: var(--space-5);

  p {
    font-size: var(--xl);
  }

  &.solveCorrect > p {
    color: var(--primary);
  }

  &.solveInCorrect > p {
    color: var(--bookmark);
  }
}

.showProblemDetailBtn {
  display: flex;
  justify-content: space-between;
  width: 50%;
  transform: translateX(100%);

  .nextProblemBtn {
    border: 1px solid black;
  }
}

.problemDescription {
  font-family: var(--pretendard);
  font-weight: 600;
  font-size: var(--large);
  line-height: 150%;
  margin-block: var(--space-10);
  background: var(--tertiary-g);
  height: 40vh;
  border: 2px solid var(--black);
  text-align: center;
  padding: var(--space-4);
  border-radius: 0 var(--radius-3xl) var(--radius-3xl) var(--radius-3xl);
  overflow: auto;

  &.problemDescription::-webkit-scrollbar {
    width: var(--space-4);
  }

  &.problemDescription::-webkit-scrollbar-thumb {
    background: var(--dark-gray-g);
    border: 1px solid #adadad;
    border-radius: var(--rounded-full);
  }
  &.problemDescription::-webkit-scrollbar-track {
    background: var(--gray-g);
    border: 1px solid #adadad;
    border-radius: var(--rounded-full);
    height: calc(90%-10px);
  }

  &.problemDescription::-webkit-scrollbar-button:vertical:start:decrement,
  &.problemDescription::-webkit-scrollbar-button:vertical:end:increment {
    height: 10px;
  }
}

.showDesc {
  display: block;
}

.hideDesc {
  display: none;
}
