.questionBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.questionLabel {
  color: var(--black, #000);
  margin-inline: 20%;
  font-family: 'Plus Jakarta Sans';
  font-size: var(--large-2, 1.5rem);
  font-style: normal;
  font-weight: var(--semi-bold, 600);
  line-height: 200%;
}

.questionArea {
  width: 60vw;
  margin-inline: 20%;
  height: var(--space-23, 5.75rem);
  flex-shrink: 0;
  padding: var(--space-2);
  border: 1.5px solid var(--black, #000);
  background: var(--white, #fff);
  box-shadow: 5px 5px 5px 0px var(--line-gray, #adadad) inset;
}

.question {
  width: 30vw;
  margin-inline: 20%;
  height: var(--space-23, 5.75rem);
  flex-shrink: 0;
  padding: var(--space-2);
  border: 1.5px solid var(--black, #000);
  background: var(--white, #fff);
  box-shadow: 5px 5px 5px 0px var(--line-gray, #adadad) inset;
}
