.pageContainer {
  padding: var(--space-11);
  display: flex;
  justify-content: space-around;
}

.confetti {
  position: absolute;
  top: 30%;
  left: 50%;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
