.calenderContainer {
  width: 37rem;
  height: 61.8125rem;
  background: url(/icons/calender_background.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

:global(.react-calendar) {
  width: 100%;
  max-width: 33rem;
  background: #fddb92;
  border: none;
  font-family: 'NeoDunggeunmoPro';
}

:global(.react-calendar__tile) {
  position: relative;
  padding: 1rem;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.dot {
  height: 20px;
  width: 20px;
  background: url(../../../public/icons/facebook.svg);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.tileContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
