.cardListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-15);
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  font-size: var(--xl);
}

.swiperContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 83rem;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: var(--space-6);
}
